name: Code Quality Checks
on: push
# Cancel old runs when a new commit is pushed to the same branch if not on main or dev
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref
    }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/dev'
    }}
defaults:
  run:
    working-directory: .
jobs:
  code-quality:
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    strategy:
      matrix:
        python_version:
        - '3.8'
        - '3.9'
        - '3.10'
        pip_deps:
        - '[dev]'
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python_version }}
    - name: Setup
      run: |
        set -ex
        python -m pip install --upgrade 'pip<23' wheel
        python -m pip install --upgrade .${{ matrix.pip_deps }}
    - name: Run checks
      run: |
        pre-commit run --all-files

env:
  PIP_INDEX_URL: https://us-central1-waleko-personal.cloudfunctions.net/pypiWayback/2024-01-18
  UV_INDEX_URL: https://us-central1-waleko-personal.cloudfunctions.net/pypiWayback/2024-01-18
